<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>local.ramdisk</string>
		<key>ProgramArguments</key>
		<array>
            <string>/Users/duckll/ramdisk.sh</string>
        </array>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>